*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* formattazione contenitore centrale */
.conteiner{
  width:80%;
  margin: 10px auto;
}
/* formattazione header */
.intestazione-sito{
  background-color:#E579E6;
  height:10vh;
  margin-bottom: 10px;
}
/* formattazione sezione con immagine principale */

.banner img{
  width:100%
}
