*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* formattazione contenitore centrale */
.conteiner{
  width:80%;
  margin: 10px auto;
}
/* formattazione header */
.intestazione-sito{
  background-color:#E579E6;
  height:10vh;
  margin-bottom: 10px;
}
/* formattazione sezione con immagine principale */
.banner{
  margin-bottom: 10px;
}
.banner img{
  width:100%;
}

/* formattazione sezione centrale */

.titolo-sezione {
  height:5vh;
  background-color: #ABCFE7;
}

.colonna{
  height:40vh;
  width:30%;
  border:1px solid black;
  background-color: #ABCFE7;
  float:left;
}
/* aggiunta proprietà clearfix */

.parte-centrale::after{
  display:block;
  content:"";
  clear:both;
}

/* formattazione del footer */

.credits{
  background-color: #8801FE;
}
